h1 {
    font-size: 28px;
}

header p {
    font-style: italic;
}

.big {
    font-size: 24px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}

section {
    margin: 20px;
}
